<div class="home-container">

  <h1>Hello,
    {{#if user}}
    {{user.name}}!
    {{else}}
    log in to add your own story!
    {{/if}} 
  </h1>

   <form class="search-container">
    <input type="text" id="blogSearch" placeholder="Search for blog here!">
  </form>
    


   {{! Display a toast message if one was provided. }}
  {{#if toastMessage}}
    <p class="blog-toastMessage">{{toastMessage}}</p>
  {{/if}}


  <div class="blog-container">
    {{#each newBlogsArr}}

    
  <div class="blogs" id="test" style="display: block" data-value="{{this.name}},{{this.blog_title}},{{this.content}}">
        <img class="blog-image" src="{{this.image_url}}" alt="" />
        <h3>{{userAuthId}}</h3>
        <h3 id="blogTitle">{{this.blog_title}}</h3>
        <h5>{{this.created_at}}</h5>
        <div class="blog-icon-author"><img src={{this.avatarIconUrl}} alt="">Author: {{this.name}}</div> 

        <input type="hidden" id="authors" value="{{this.name}}">
        <!--<input type="hidden" id="content" value="{{this.content}}">-->
        

        {{!-- The delete and edit buttons only available if userLoggedIn is true --}}
        <div style="display: {{#if this.userLoggedIn}}inline{{else}}none{{/if}};">
          <button class="delete-btn-myblog" value="{{this.id}}">Delete
          </button>
          <a class="edit-btn-myblog" href="/blogs/{{this.id}}/edit">Edit</a>
        </div>
        <button id="modal-button"  class="button" value={{this.id}}>Read more</button>
        
      
      </div>
     
    {{/each}}
</div>
</div>

    {{!--Creating the modal --}}
        <div class="modal-container" id="modal_container">
            <div class="modal" id="modal">
              <img class="blog-image-modal" id="image" src="" alt="">
              <h3 id="authId"></h3>
              <h3 id="title"></h3>
              <h5 id="date"></h5>
              <div class="blog-icon-author"><img src="" alt="" id="icon">Author:<span id="author"></span></div> 
              <p id="content"></p>
              <span id="close-modal">&times;</span>
              <button id="modal-close-bottom">Close</button>
            
            </div>
        </div>
    
 
